# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# libtools stuff
*.html
/autom4te.cache
/stamp-h1
Makefile
/config.status
/config.log
/config.h
/aclocal.m4
Makefile.in
/config/
/config.h.in
/configure
*~
/build*/
m4
GIT_REVISION
SVN_REVISION
libtool
*.so*
.deps/
*.tar*
*.zip
*.gcno
*.gcda
app.info
coverage_report

# the executable
nathaniel
